.App {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  text-align: center;
  height: 100vh;
}

/* ==========================================================================
3. Hero Area
========================================================================== */
#hero-area {
  background-image: url(./assets/space-background2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  position: relative;
  overflow: hidden;
  padding: 100px 0 0 0; }

/* ==========================================================================
  ========================================================================== */

.like-button {
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer; }
.like-button::before {
  color: #666;
  content: '♥';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.like-button::after {
    color: #ff3252;
    content: '♥';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s;
}
.liked:after {
    transform: translate(-50%, -50%) scale(1.1);
}

.heroarea-welcome {
  font-size: 10vw;
}

.navbar-toolbar {
  width: 80%;
}

@media screen and (min-width: 1000px) {
  .heroarea-welcome {
    font-size: 100px;
  }
}

@media screen and (max-width: 500px) {
  #spacestagram {
    font-size: 15px;
  }
  .navbar-toolbar {
    width: 100%;
  }
}