.App {
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #fff;
  text-align: center;
  height: 100vh;
}

#body {
  width: 80%;
}


/* ==========================================================================
3. Hero Area
========================================================================== */
#hero-area {
  background-image: url(./assets/space-background.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  position: relative;
  overflow: hidden;
  padding: 100px 0 0 0; }

/* ==========================================================================
  ========================================================================== */